// you can custom css vars here
// :root {
//   --va-font-serif: 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto,  serif;
//   --va-font-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
//   --va-font-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
// }

:root{
--va-c-bg-light:white;
--va-body-bg-color:#e9f0f5;
--btn-hover-bg-light:78,170,255;
--mark-bg-color:transparent;
--mark-bg-size--w:20px;
--mark-bg-size--h:20px;
}
:root.dark{
  --va-c-bg-light:#1a222b;
  --va-body-bg-color:#0a0e11;
  --btn-hover-bg-light:78,170,255;
  --mark-bg-color:var(--va-c-bg-light);
  --mark-bg-size--w:100vw;
  --mark-bg-size--h:100vw;
}
body{
  // background-color:var(--va-body-bg-color);
  transition: all .3s;
}
.yun-icon-btn{
  font-weight: bold;
  padding: 0px 16px;
  width: fit-content;
  height: 44px;
  border-radius: 8px;
  color: var(--va-c-text-light);
  font-size: 16px;
  &:hover{
    color: var(--smc-c-primary-light);
    transition: all .3s;
    background-color:rgba(var(--btn-hover-bg-light),0.1);

  }
}
